@media print {
    body{
        margin: 0;
        padding: 0;
        background-color: #fffdfd;
    }
    p, li{
        font-size: 14px !important;
    }
    h2{
        font-size: 18px !important;
    }
    h3, h4{
        font-size: 16px !important;
    }
    .header{
        .name{
            img {
                width: 30% !important;
                border-radius: 0 !important;
            }
        }

        .contact{
            padding-left: 35%;
            margin-top: -10%;
            &::before{
                display: none !important;
            }
        }
    }
    .sidebarSection{
        width: 40%;

        .cert{
            page-break-before: always;
        }
    }
    .contentSection{
        width: 60%;

        .content::after{
            display: none !important;
        }

        .view{
            display: none !important;
        }

        .content .cel .celProject .project{
            flex-direction: row;
        }
    }
    #downlaod{
        display: none !important;
    }
}